@page
@model Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutAdmin";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <p class="display-6">This is the admin interface.</p>
    <p class="display-6">Here you will find admin only tools</p>
    <p class="display-4" style="color: red">Be carefull what changes are done as it can have serious consequences</p>
</div>
