@page
@model AdminModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To <a href="https://localhost:7054/Clients">Clients page</a>.</p>
    <p>To <a href="https://localhost:7054/Attendance">Attendance page</a>.</p>
</div>
