@page
@model WebApp.Pages.Client.ClientModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutClient";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <p class="display-6">This is the client interface.</p>
    <p class="display-6">Here you will find useful tools for clients</p>
</div>
